

<div class="container mt-5">



<mat-tab-group style="background-color:#f6f6f6 ;"  mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4 p-3"   mat-align-tabs="center" animationDuration="5000ms">
  <mat-tab label="Kasa">


  </mat-tab>
  <mat-tab label="Satın Alma" animationDuration="3000ms">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" mat-align-tabs="center" animationDuration="2000ms" >
      <mat-tab label="Tedarikçiler"></mat-tab>
  <mat-tab label="Siparişler">deneme</mat-tab>
  <mat-tab label="OSAS Oluştur">



<div class="container mt-5 ">
    <mat-stepper #stepper animationDuration="3000ms"  style="background-color:#f6f6f6 ;">
  <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Lokasyon</ng-template>

      <mat-form-field appearance="fill">
        <mat-label>Lokasyon seç</mat-label>
        <mat-select>
          <mat-option value="İstanbul(Anadolu)">İstanbul(Anadolu)</mat-option>
          <mat-option value="İstanbul(Avrupa)">İstanbul(Avrupa)</mat-option>
          <mat-option value="Şanlıurfa">Şanlıurfa</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <i>Bir sonraki adıma geçiniz.</i>

      </div>
      <button class="m-3" mat-button matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Tedarikçi</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Tedarikçi</mat-label>
        <mat-select>
          <mat-option value="BSH Ev Aletleri">BSH Ev Aletleri</mat-option>

        </mat-select>
      </mat-form-field>
      <div>
        <i>Bir sonraki adıma geçiniz.</i>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Kategori</ng-template>

      <mat-form-field appearance="fill">
        <mat-label>Kategori seç</mat-label>
        <mat-select>
          <mat-option value="Bulaşık Makinası">Bulaşık Makinası</mat-option>
          <mat-option value="Buzdolabı">Buzdolabı</mat-option>
          <mat-option value="Çamaşır Makinası">Çamaşır Makinası</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <i>Bir sonraki adıma geçiniz.</i>

      </div>
      <button class="m-3" mat-button matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step>



    <ng-template matStepLabel>İşlem tamamlanmıştır.</ng-template>
    <p>İşlem tamamlanmıştır.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
</div>


  </mat-tab>
  <mat-tab label="Hesap Kapama"></mat-tab>
  <mat-tab label="Belgeler"></mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Satış">Content 3</mat-tab>
  <mat-tab label="Envanter">Content 3</mat-tab>
  <mat-tab label="Finansman">Content 3</mat-tab>
  <mat-tab label="Belgeler">Content 3</mat-tab>
  <mat-tab label="Muhasabe">Content 3</mat-tab>
  <mat-tab label="Raporlar">Content 3</mat-tab>
  <mat-tab label="Ayarlar">Content 3</mat-tab>
</mat-tab-group>

</div>
